<div class="carousel-inner" role="listbox">
  {{yield
    (hash
      inner=(component "bs-carousel/inner" currentIndex=currentIndex)
    )
  }}
</div>
<a class="left carousel-control" {{action "prev"}}>
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span class="sr-only"></span>
</a>
<a class="right carousel-control" {{action "next"}}>
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <span class="sr-only"></span>
</a>
